<template name="ranking">
  <div class="row content">
    <h1><a href="{{rankingPath}}" class="logo"><span class="logo-1">ShowHN</span><span class="logo-2">Karma</span></a></h1>

    <div class="commenter">
      <h3>What is this?</h3>
      <p>A while back, I created this post on Hacker News.</p>
      <p><a href="https://news.ycombinator.com/item?id=6291348">Show HN: Highlighting Efforts of Creation from Hacker News.</a></p>
      <p>I also created this site.</p>
      <p>Every 10 minutes, it automatically refreshes data based on the comments on this thread, and pulls out people's post and ranks them based on how many other people they have given feedback too.</p>
      <p><a href="https://github.com/cjbarber/show-hn-karma">GitHub</a></p>
    </div>

    {{#each commenters}}
      {{> commenter}}
    {{else}}
      <button class="btn btn-red">Manually Load</button>
    {{/each}}

  </div>
</template>