<template name="ranking">
  <div class="row content">
    <h1><a href="{{rankingPath}}" class="logo"><span class="logo-1">ShowHN</span><span class="logo-2">Karma</span></a></h1>

    <div class="commenter">
      <h3>What is this?</h3>
      <p>Last week, I created this post that you might've seen on Hacker News.</p>
      <p><a href="https://news.ycombinator.com/item?id=6291348">Show HN: Highlighting Efforts of Creation from Hacker News.</a></p>
      <p>Someone suggested a HN thread where people post their projects.</p>
      <p>I thought it was a great idea, so <a href="https://news.ycombinator.com/item?id=6294650">I did that.</a></p>
      <p>I included the condition that people who post in the thread comment and give feedback on at least 4-5 other projects.</p>
      <p>That didn't work out, so I built this (<a href="https://github.com/cjbarber/show-hn-karma">GitHub</a>.)</p>
      <p>Every 10 minutes, it automatically refreshes data based on the comments on this thread, and pulls out people's post and ranks them based on how many other people they have given feedback too.</p>
      <p>This will start as an Ask HN post, and then I'll submit the final ranked results as a Show HN.</p>
      <p>Go ahead! Show what you are working on and be generous with the feedback :)</p>
      <p>Special shoutout to <a href="http://blocky.io/f0rest.html">f0rest</a>, a cool game built in Common Lisp - the creator of that project is a good guy and very passionate about what he is building!</p>
      <p>As for me, I'm building a <a href="http://bootstrap3themes.meteor.com/">Gorgeous Bootstrap 3 Theme</a>, and a <a href="http://gmailunreplieds.meteor.com/">Gmail tool to show messages you sent that were never replied to.</a> (and you can probably tell that I love meteor.js as of late)</p>
    </div>

    {{#each commenters}}
      {{> commenter}}
    {{else}}
      <button class="btn btn-red">Manually Load</button>
    {{/each}}

  </div>
</template>